In [4]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized'] 
print(bicycles)
print(bicycles[1])
print(bicycles[1].title())
print(bicycles[-1])
message = "My first bicycle was a " + bicycles[0].title() + "." 
print(message)

['trek', 'cannondale', 'redline', 'specialized']
cannondale
Cannondale
specialized
My first bicycle was a Trek.

In [10]:
motorcycles = []
motorcycles.append('honda') 
motorcycles.append('yamaha') 
motorcycles.append('suzuki') 
print(motorcycles)
motorcycles.insert(0, 'ducati')
print(motorcycles)
del motorcycles[1]
print(motorcycles)
popped_motorcycle2 = motorcycles.pop(0)
print(motorcycles,popped_motorcycle)
popped_motorcycle = motorcycles.pop()
print(motorcycles,popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['ducati', 'honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']
['yamaha', 'suzuki'] suzuki
['yamaha'] suzuki

In [14]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)
too_expensive = 'ducati' 
motorcycles.remove(too_expensive) 
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

 A Ducati is too expensive for me.

In [17]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:") 
print(cars)
print("Here is the sorted list:") 
print(sorted(cars))
print("Here is the original list again:") 
print(cars)
cars.sort()
print(cars)
cars.reverse()
print(cars)
print(len(cars))

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']
Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']
Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']
['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']
4

In [19]:
#Unit4
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    print("That was a great trick,"+magician.title()+"!")
print("I can't wait to see your next trick, " + magician.title() + ".\n")

That was a great trick,Alice!
That was a great trick,David!
That was a great trick,Carolina!
I can't wait to see your next trick, Carolina.

In [27]:
for value in range(6):
    print(value)
print()
for value in range(1,6):
    print(value)
even_numbers =list(range(2,11,2)) 
print(even_numbers)
for value in range(3,11,2):
    print(value)

0
1
2
3
4
5

1
2
3
4
5
[2, 4, 6, 8, 10]
3
5
7
9

In [29]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits),max(digits),sum(digits))

0 9 45

In [35]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])
print(players[-3:])
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']
Here are the first three players on my team:
Charles
Martina
Michael

In [43]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend1_foods = my_foods[:]
friend2_foods = my_foods
print(my_foods)
print(friend1_foods,"\n")
my_foods.append('cannoli')
print(friend1_foods)
print(friend2_foods)

True True
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake', 'cannoli']
False True

In [49]:
#Tuple
dimensions = (200, 50)  
for dimension in dimensions:
    print(dimension)
#dimensions[0] = 250
print("\nModified:") 
dimensions = (400, 100)
for dimension in dimensions:
    print(dimension)

200
50

Modified:
400
100

In [53]:
a=[12.1,2,"sd"]
print(a,a[2])

[12.1, 2, 'sd'] sd

In [55]:
x = [1, 2, 3]
type(x)

1.5